.ui {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	cursor: pointer;
}
.ui:first-child{
	margin:2px;
	text-align: center;
	vertical-align: middle;
}

.trans{
	
}
.ft-scaler-right {
	cursor: nw-resize;
}
.ft-scaler-left{
	cursor: ne-resize;
}
.ft-scaler-center{
	cursor:s-resize;
}
.flex-label{
	text-align: left;
}
.flex-cpicker {
	width:22px;
	height: 22px;
	max-width: 22px;
	max-height: 22px;
	border: 1px solid #fff;
	background: url(../img/icons/ColorPicker.png) 100% no-repeat;
}
.flex-ntp .btn {
	width:23px;
	height:20px;
}
.flex-ntp .spinner-input {
	float: left;
	height: 30px;
}
.flex-ntp .btn-group {
  margin-top: 0px;
}
.flex-combobox{
border:0; color:#000; background:transparent;
font-weight:bold; padding:2px 10px; 
width:120px; 
background: url(../img/arrow.png) no-repeat 98.5% 12px #fff;
-webkit-appearance: none;  
border:1px solid #ccc;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.flex-dg {
	width:250px;
	height: 250px;
	border: 1px solid #ddd;
	background: #fff;
}
.flex-dg thead {
	position: relative;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, rgb(242,242,242)),
	color-stop(0.78, rgb(255,255,255)));
}
.flex-button {
	width:100px;
	min-height: 22px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, rgb(242,242,242)),
	color-stop(0.78, rgb(255,255,255)));
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}
.flex-textarea textarea{
	min-width: 5%;
	min-height: 5%;
	width: 100%;
	height: 100%;
}
.flex-image{
	width: 200px;
	height:200px;
}
.flex-image img{
	width:100%;
	height: 100%;
}
.flex-checkbox {
	float: left;
	display: block;
	cursor: pointer;
	margin-left: 0px;
	position: relative;
}
.flex-checkbox label{
	float: left;
}
.flex-panel{
	display: block;
	width: 300px;
	height: 200px;
	background: white;
	box-shadow:0 1px 3px rgba(0,0,0,.4);
	border:1px solid #ccc;
  	border-radius:3px;
  	overflow: hidden;
}
.flex-panel .panel-title{
  margin:0 0;
  padding:0 0;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0px 0px 15px;
  color:#111;
  text-align: left;
  height: 30px;
  text-shadow:0 1px 0 rgba(0,0,0,.4);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: linear-gradient(to bottom, #f8f8f8, #cccccc);
  background-repeat: repeat-x;
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0);
  position:relative;
}
.group{
	width: 100%;
	height: 100%;
	background:#ffffff;
	display: inline-block;
}